<div class="navbar-wagon">
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  </div>
  <div class="navbar-wagon-left hidden-xs hidden-sm">

    <div class="nav-button">
      ABOUT
    </div>
    <div class="nav-button">
      CONTACT
    </div>
    <div class="nav-button">
      FITNESS
    </div>
    <div class="nav-button">
      MEALPLANS
    </div>
  </div>
</div>






