<div class="navbar-wagon">
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <h1>T</h1>
    <h2>F</h2>
    <h3>ITNESS</h3>

  </div>
  <div class="navbar-wagon-left hidden-xs hidden-sm">

    <div class="nav-button">
      ABOUT
    </div>
    <div class="nav-button">
      CONTACT
    </div>
    <div class="nav-button">
      FITNESS
    </div>
    <div class="nav-button">
      MEALPLANS
    </div>
  </div>
</div>






