<div class="navbar-wagon">
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  </div>
  <div class="navbar-wagon-left hidden-xs hidden-sm">
    <div class="nav-button">
      Login
    </div>
    <div class="nav-button">
      Login
    </div>
    <div class="nav-button">
      Login
    </div>
    <div class="nav-button">
      Login
    </div>
  </div>
</div>






