<div class="navbar-wagon">
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">
      Login
    </button>
  </div>
  <div class="navbar-wagon-left hidden-xs hidden-sm">
    <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">
      Login
    </button>
    <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">
      Login
    </button>
    <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">
      Login
    </button>
    <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">
      Login
    </button>
  </div>
</div>






