 <%= simple_form_for([@article, @question, @answer]) do |f| %>
    <%= f.input :content, label: false, as: :text, autofocus: true, :input_html => {:style => 'width: 100%', :rows => 5, class: 'form-control'} %>
    <br>
    <div class="text-left">
      <%= f.submit "submit", class: "btn btn-primary" %>
    </div>
  <% end %>
