
<div class="about-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center;">
      <h2>WHAT WE'RE ABOUT</h2>
    </div>

  </div>
</div>

<div class="about-content-banner">
  <h2>FITNESS PLANS TAILORED FOR YOU!</h2>
</div>

<div class="about-content">
</div>
