<div class="landing-banner">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row" style="display: flex; justify-content: center;">
      <h2>FITNESS PLANS</h2>
    </div>
  </div>
</div>
