
<div class="landing-banner">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row" style="display: flex; justify-content: center;">
      <h2>PUSH YOURSELF</h2>
    </div>

    <div class="row" style="display: flex; justify-content: center;">
      <h1>FIND YOUR LIMITS</h1>
    </div>
    <br>
    <div class="row" style="display: flex; justify-content: center;">
      <button type="button" class="started-button" data-toggle="modal" data-target="#exampleModal">
        GET STARTED
      </button>
    </div>
  </div>
</div>
