.about-content-banner {
  background-color: rgba(196, 38, 38, 0.9);
  color: white;
  display: flex;
  align-items: center;
  height: 15vh;
}

.about-content-banner h2 {
  font-family: "IBM Plex Sans";
  font-weight: bold;
  color: white;
  font-size: 3em;
  letter-spacing: 1px;
  padding: .2em;
}

.about-content {
  background-color: #111;
  height: 40vh;
  color: white;
}
