.footer {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15em;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  background: #282727;
  border-bottom: 3em;
  border-color: #111;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.footer-links {
  display: flex;
  align-items: center;
  color: white;
}

.footer-links a {
  color: grey;
  text-decoration: none;
  font-size: 24px;
  padding: 30px 10px;
  margin-left: 5vw;
}
.footer-links a:hover {
  opacity: 1;
  color: white;
  transition: all 0.5s ease 0s;
}
